
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Kc Philip E. Laguna</mat-card-title>
    <mat-card-subtitle>IT Student</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://scontent.fceb2-1.fna.fbcdn.net/v/t1.6435-9/200698185_2967045346951510_1975336787121239196_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeH55muUUGTWEmdz_DChCLICBqppn3vrv9kGqmmfe-u_2c80fvffSq5Us7lZFtHudbKHVOVVJE60gbW1ctraEWgO&_nc_ohc=MHvgAEfO1JIAX9b8eEC&tn=XuB9hwxGm-vjL4v9&_nc_ht=scontent.fceb2-1.fna&oh=045b41fa95d6035656d7e9a7014dac56&oe=619E267F">
  <mat-card-content>
    <p>
      <mat-card>Name: Kc Philip E. Laguna </mat-card>
      <mat-card>Address: Brgy 77 Marasbaras Tacloban City</mat-card>
      <mat-card>Age: 21</mat-card>
      <mat-card>Sex: Male</mat-card>
      <mat-card>Civil Status: Single</mat-card>
      <mat-card>Religion: Roman Catholic</mat-card>
    </p>
  </mat-card-content>

</mat-card>

